@import "tailwindcss";
@import 'tailwindcss/theme';

/* Tailwind plugins */
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

/* Setup Sources */

@source "../src-tauri";


/* Tailwind Config */
@theme {
  --font-brand: var(--font-sans);
}


@layer base {
  sr-only {
    @apply sr-only;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.3s ease-in-out;
  }

  .animate-fade-out {
    animation: fadeOut 0.3s ease-in-out;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-1rem);
  }
}
